<nav class="pagination">
    <input type="hidden" id="total_pages" value="{{ paginator.total_pages }}">
    <input type="hidden" id="current_pages" value="{{ paginator.page }}">
    <input type="hidden" id="base_url" value="{{ '/blog.html/page' | prepend: site.baseurl }}">
    <div class="page-links">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="{{ '/blog.html' | prepend: site.baseurl }}" class="page-link" title="Previous Page">&laquo;</a>
        {% else %}
        <a href="{{ '/blog.html/page' | prepend: site.baseurl }}{{ paginator.previous_page }}" class="page-link" title="Previous Page">&laquo;</a>
        {% endif %}
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == 1 %}
        <a href="{{ '/blog.html' | prepend: site.baseurl }}" class="page-link" {% if paginator.page == page %}class="active"{% endif %}>{{ page }}</a>
        {% else %}
        <a href="{{ '/blog.html/page' | prepend: site.baseurl }}{{ page }}" class="page-link" {% if paginator.page == page %}class="active"{% endif %}>{{ page }}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ '/blog.html/page' | prepend: site.baseurl }}{{ paginator.next_page }}" class="page-link">&raquo;</a>
        {% endif %}
    </div>

</nav>
